/*
	style.css
	Author: YuyaAbo
*/

* {
	margin: 0;
	padding: 0;
	color: #1b1f3b;
}

body {
	background-color: #1B1F3B;
	text-align: center;
}

#output {
	font-size: 80px;
	color: #fffcf9;
	margin: 0 auto;
	margin-top: 20px;
	width: 60%;
	border: 3px solid;
}

#type {
	width: 5%;
	height: 30px;
	font-size: 30px;
	font-weight: bold;
	color: #fffcf9;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid;
}

.numBtn {
	font-size: 20px;
	width: 30px;
	height: 30px;
	margin: 2px;
	background-color: #fffcf9;
}

.keyBtn {
	font-size: 20px;
	width: 30px;
	height: 30px;
	margin: 2px;
	background-color: #c2f970;
}