* {
	margin: 0;
	padding: 0;
	color: #333333;
}

body {
	background-color: #FFE3BD;
	text-align: center;
}

div#output {
	font-size: 80px;
	color: #07313A;
	margin: 
}

.numBtn {
	font-size: 20px;
	width: 30px;
	height: 30px;
	margin: 2px;
	background-color: #BAB7A3;
}

.keyBtn {
	font-size: 20px;
	width: 30px;
	height: 30px;
	margin: 2px;
	background-color: #EB5252;
}