/*
	style.css
	Author: YuyaAbo
*/

* {
	margin: 0;
	padding: 0;
	color: #1b1f3b;
}

body {
	background-color: #1B1F3B;
	text-align: center;
}

#output {
	font-size: 80px;
	color: #fffcf9;
	margin: 0;
}

#type {
	height: 30px;
	font-size: 20px;
	color: #fffcf9;
	margin: 0;
}

.numBtn {
	font-size: 20px;
	width: 30px;
	height: 30px;
	margin: 2px;
	background-color: #fffcf9;
}

.keyBtn {
	font-size: 20px;
	width: 30px;
	height: 30px;
	margin: 2px;
	background-color: #c2f970;
}